{{ define "main" }}

<!-- page title -->
<section class="page-title-alt bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ .Title }}</h1>
      </div>
    </div>
  </div>


  <!-- IMAGEM DE FUNDO DA GUIA ABOUT (SOBRE) -->
  <img src="{{`images/illustrations/page-title.png`| relURL}}" alt="illustrations" class="bg-shape-1 w-100">

  <!-- IMAGENS INUTEIS DO ABOUT (SOBRE)
  <img src="{{`images/illustrations/dots-group-sm.svg`| relURL}}" alt="illustrations" class="bg-shape-2">
  <img src="{{`images/illustrations/leaf-yellow.svg`| relURL}}" alt="illustrations" class="bg-shape-3">
  <img src="{{`images/illustrations/leaf-orange.svg`| relURL}}" alt="illustrations" class="bg-shape-4">
  <img src="{{`images/illustrations/dots-group-cyan.svg`| relURL}}" alt="illustrations" class="bg-shape-5">
  <img src="{{`images/illustrations/leaf-cyan-lg.svg`| relURL}}" alt="illustrations" class="bg-shape-6">

-->

</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ .Content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{.Params.author_image | absURL }}" alt="author"
            class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <img src="{{.Params.author_signature | absURL }}" alt="signature" class="img-fluid">
        <h4>{{ .Site.Params.Author }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- Work Process -->
{{ if .Site.Data.sobre.work_process.enable }}
{{ with .Site.Data.sobre.work_process }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
        <h4 class="mb-4">{{ .title }}</h4>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Work Process -->
<div class="social-box">
    <div class="container">
      <div class="row">
       
          <div class="col-lg-4 col-xs-12 text-center">
          <div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
            <div class="box-title">
              <h3>Beha/h3>
            </div>
            <div class="box-text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
            <div class="box-btn">
                <a href="#">Learn More</a>
            </div>
           </div>
        </div>   
        
         <div class="col-lg-4 col-xs-12  text-center">
          <div class="box">
              <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
            <div class="box-title">
              <h3>Twitter</h3>
            </div>
            <div class="box-text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
            <div class="box-btn">
                <a href="#">Learn More</a>
            </div>
           </div>
        </div>   
        
         <div class="col-lg-4 col-xs-12 text-center">
          <div class="box">
                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
            <div class="box-title">
              <h3>Facebook</h3>
            </div>
            <div class="box-text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
            <div class="box-btn">
                <a href="#">Learn More</a>
            </div>
           </div>
        </div>   
        
        <div class="col-lg-4 col-xs-12 text-center">
          <div class="box">
                        <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>
            <div class="box-title">
              <h3>Pinterest</h3>
            </div>
            <div class="box-text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
            <div class="box-btn">
                <a href="#">Learn More</a>
            </div>
           </div>
        </div>   
        
         <div class="col-lg-4 col-xs-12 text-center">
          <div class="box">
              <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
            <div class="box-title">
              <h3>Google</h3>
            </div>
            <div class="box-text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
            <div class="box-btn">
                <a href="#">Learn More</a>
            </div>
           </div>
        </div>   
        
         <div class="col-lg-4 col-xs-12 text-center">
          <div class="box">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            <div class="box-title">
              <h3>Github</h3>
            </div>
            <div class="box-text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
            <div class="box-btn">
                <a href="#">Learn More</a>
            </div>
           </div>
        </div>
    
    </div>    
    </div>
</div>
<!-- team -->
{{ if .Site.Data.sobre.team.enable }}
{{ with .Site.Data.sobre.team }}
<section class="section bg-cover" data-background="{{`images/backgrounds/team-bg.png`|relURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            <p class="text-light font-secondary">{{.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

{{ if .Site.Data.sobre.clients_logo_slider.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .Site.Data.sobre.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }}

{{ end }}