{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="font-tertiary mb-5">{{.Title}}</h3>
          <p class="font-secondary">Publicado em {{ .PublishDate.Format "02/01/2006" }} por <span class="text-primary">{{.Site.Params.Author}}</span></p>
          <div class="content">
            <img src="{{.Params.Image | absURL }}" alt="post-thumb" class="img-ajustar2 img-fluid float-left rounded mr-5 mb-4">
            <div style="text-align: justify;">
            {{.Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}