{{ define "main" }}

  {{ partial "page-title.html" . }}

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="font-tertiary mb-5">{{.Title}}</h3>
          <p class="font-secondary">Publicado em {{ .PublishDate.Format "02/01/2006" }}</p>
          <div align="center" class="content">
            <img src="{{.Params.Image | absURL }}"  alt="post-thumb" class="img-blog float-center img-fluid rounded mr-5 mb-4">
            <div style="text-align: justify;">
            {{.Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}